<% include nav.ejs %>
<style>
  .tabs-content.carousel.initialized {
    height: 100%;
  }
  
  .carousel .carousel-item {
    height: 260%;
  }
  .pagination li.active {
    color: #607D8B;
    background-color:#607D8B;
  }
</style>
<div class="row"></div>
<div class="row card">
  <ul id="tabs-swipe" class="tabs" >
    <li class="tab col s6"><a  style="color:#607D8B" href="#test-swipe-1">Payee List</a></li>
    <li class="tab col s6 disabled" id="tab-2"><a id="step-2"  style="color:#607D8B" class="" href="#test-swipe-2">Transfer funds</a></li>
  </ul>
  <div id="test-swipe-1" class=" col s12" style="width:100%">
    <div class="row">
        <h4 class="col s8">Payee List</h4><a style="color: #607D8B;" class="col s4 modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Add a Payee" href="#addpayee" ><i class=" medium material-icons">add</i></a>
    </div>
    <div class="row">
    <ul class="collection">
        <% for(var i=0;i<result.length;i++) { %>
        <li class="collection-item avatar">
            <span class="title"><%= result[i].payeename%> </span>
            <p><%=result[i].accnum%> <br>
               <%=result[i].bankname%><br>
               <%=result[i].branchname%>
            </p>
            <a class="secondary-content" onclick="deletePayee('<%=result[i].accnum%>','<%= result[i].payeename %>')"><i style="color: red;padding-right: 50px;padding-top:50px" class=" right material-icons">delete</i></a> <a class="secondary-content"  onclick="movetostep2('<%=result[i].accnum%>','<%= result[i].payeename %>')"><i style="color: #607D8B;padding-top: 50px;" class=" right material-icons">chevron_right</i></a> 
          </li>
        
       
        <% } %>

    </ul>
    <ul class="pagination center" >
        <li class="disabled"><a id="left" href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="waves-affect active"><a href="/transfer">1</a></li>
        <li class="waves-affect"><a href="/transfer">2</a></li>
        <li class="waves-affect"><a href="/transfer">3</a></li>
        <li class="waves-effect"><a id="right" href="/transfer"><i class="material-icons">chevron_right</i></a></li>
      </ul>
    
    </div>
             

  


  </div>
  <div id="test-swipe-2" class="col s12" style="width:100%;">
    <h4>Transfer funds</h4>
    <br>
    <form method="POST" action="/transferfund">
      <h6>Pay money to <span id="accname"></span></h6>
      <h6>Account Number: <span id="accno"></span></h6>
      <br>
      <div style="width: 25%" class="input-field col s12">
        <select name="typeAcc">
          <option value="1">Savings</option>
          <option value="2">Current</option>
          <option value="3">Credit Card</option>
        </select>
        <label>Choose Account Type:</label>
      </div>
      <div class="col s12">
        <h6>Enter the amount to send to account numer : <span id="accno1"></span></h6>
        <input name="amount" type="number" min="0" name="amount" placeholder="Amount" style="width: 25%">
        <input id="acno" type="number" name="acno" class="hide">
        <button type="submit" class="btn" style="background-color: #607D8B">Deposit</button>
      </div>
    </form>
    
  </div>
</div>
<div id="addpayee" class="modal">
    <div class="modal-content">
      <form action="/addpayee" method="POST" >
          <div class="modal-content">
              <h4>Add Payee Details</h4>
              <br>
              <div class="input-field col s12">
                  <input id="name" type="text" class="validate" name="payeename" >
                  <label for="name">Payee Name</label>
              </div>
              <div class="input-field col s12">
                  <input id="name" type="text" class="validate" name="bankname">
                  <label for="name">Bank Name</label>
              </div>
              <div class="input-field col s12">
                  <input id="name" type="text" class="validate" name="branchname">
                  <label for="name">Branch Name</label>
              </div>
              <div class="input-field col s12">
                  <input id="name" type="text" class="validate" name="accnum" required>
                  <label for="name">Account Number</label>
              </div>
            
          </div>
          <div class="modal-footer">
            <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">add payee</button>
          </div>
      </form>
  </div>
</div>


<!-- Modal Structure -->
<div id="deletepayee" class="modal">
  <form action="/deletepayee" method="POST">
    <div class="modal-content">
      <h6>Are You sure you want to delete <span id="paydel"></span>?</h6>
    </div>
    <input name="paydel2" type="text" class="hide" id="paydel2" />
    <div class="modal-footer">
      <button type="submit" class=" red modal-action modal-close waves-effect waves-green btn-flat">delete</button>
    </div>
  </form>
</div>          
<script>
  var AccountNumber = '',
      AccountName = '';
  function movetostep2(accnum,accname) {

    if(accname=="No payees") {
      console.log(true);
      return 
    }
    AccountNumber = accnum;
    AccountName = accname;
    document.getElementById('accname').innerHTML = AccountName;
    document.getElementById('accno').innerHTML = AccountNumber;
    document.getElementById('acno').value = Number(AccountNumber);
    document.getElementById('accno1').innerHTML = AccountNumber;
    console.log(AccountNumber,AccountName);
    document.getElementById("tab-2").className =
                  document.getElementById("tab-2").className.replace(/\bdisabled\b/,'');

    $('ul.tabs').tabs('select_tab', 'test-swipe-2');
  }
  function deletePayee(accnum,accname) {
    if(accname=="No payees") {
      console.log(true);
      return 
    }
    console.log(accname,accnum)
    document.getElementById("paydel").innerHTML = accname + ' with account number ' + accnum;
    document.getElementById("paydel2").value = accnum
    $('#deletepayee').modal('open');
  }


</script>
<% include foot.ejs %>